.text-yellow{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: yellow;
}

.text-purple{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: purple;
}

#img-principal{
	width: 300px;
}

dt{
	cursor: default;
	background-color: darkslategrey;
	border-radius: 1px;
	text-align: center;
	position: relative;
	font-weight: bold;
	font-size: 15px;
	height: 30px;
}

dd{
	height: 30px;
	background-color: aliceblue;
	border-radius: 1px;
}
